SCHEMAFILE='./gufi_schemas.txt'
REMOTEHOST='<remote uri>'
MCPTRANSPORT='streamable-http'
MCPSRVHOST='127.0.0.1'
MCPSRVPORT=8000
GUFIVTLIB='path/to/gufi_vt'
GUFI_INDEX_ROOT = '/path/to/gufi_indexes/'
GUFI_QUERY = '/path/to/gufi_query'
GUFI_MCP_EVENT_LOG = './logs/server/'